In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

In [ ]:
train = pd.read_csv('TrainingData.csv')
test = pd.read_csv('testX.csv')
Y_default_ind = train['default_ind']

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (19) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
train = pd.get_dummies(train,columns = ['mvar47'],drop_first = True)
for i in train.columns:
  train[i] = pd.to_numeric(train[i], errors='coerce')
sc= StandardScaler()
train = train.drop(columns = ['default_ind'], axis = 1)
train =  pd.DataFrame(sc.fit_transform(train), columns = train.columns)

In [ ]:
Chi_x = pd.read_csv('TrainingData.csv')
Chi_x = pd.get_dummies(Chi_x,columns = ['mvar47'],drop_first = True)
for i in Chi_x.columns:
  Chi_x[i] = pd.to_numeric(Chi_x[i], errors='coerce')
mm= MinMaxScaler()
Chi_x = Chi_x.drop(columns = ['default_ind'], axis = 1)
Chi_x =  pd.DataFrame(mm.fit_transform(Chi_x), columns = Chi_x.columns)

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (19) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
Chi_x.drop(columns=['application_key'],axis = 1, inplace = True)

In [ ]:
Chi_x_ref = Chi_x.dropna()

In [ ]:
X_raw_train = train.drop(columns = ['application_key'], axis = 1)

In [ ]:
X_raw_add = X_raw_train.copy(deep = True)
X_raw_add['mvar345'] = X_raw_add['mvar3']+X_raw_add['mvar4']+X_raw_add['mvar5']
X_raw_add['mvar786'] = X_raw_add['mvar7']+X_raw_add['mvar8']-X_raw_add['mvar6']
X_raw_add['mvar1719'] = X_raw_add['mvar17']+X_raw_add['mvar19']

In [ ]:
ref_df = X_raw_train.dropna()

In [ ]:
nonnull_index = ref_df.index

In [ ]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
vif_data = pd.DataFrame()
vif_data["feature"] = ref_df.columns
  
# calculating VIF for each feature
vif_data["VIF"] = [variance_inflation_factor(ref_df.values, i)
                          for i in range(len(ref_df.columns))]
  
print(vif_data)

     feature         VIF
0      mvar1    6.731702
1      mvar2    1.509904
2      mvar3    2.796944
3      mvar4    3.727393
4      mvar5    1.580983
5      mvar6    8.065493
6      mvar7    6.182842
7      mvar8    4.693850
8      mvar9    7.838995
9     mvar10    8.967643
10    mvar11    1.243738
11    mvar12    3.001184
12    mvar13    3.093126
13    mvar14    1.669384
14    mvar15    1.708143
15    mvar16    9.702990
16    mvar17  111.242131
17    mvar18   98.838697
18    mvar19  178.747991
19    mvar20  172.708843
20    mvar21    4.095981
21    mvar22    7.055717
22    mvar23    4.677844
23    mvar24    2.093553
24    mvar25    7.169101
25    mvar26    3.927927
26    mvar27    4.902528
27    mvar28    4.493725
28    mvar29    2.325656
29    mvar30    1.329874
30    mvar31    1.537093
31    mvar32   15.870861
32    mvar33    1.462229
33    mvar34    2.965942
34    mvar35    1.684786
35    mvar36   10.668177
36    mvar37    7.495188
37    mvar38    5.186603
38    mvar39    2.456762
39    mvar40    1.379096
40    mvar41    1.474791
41    mvar42    3.121352
42    mvar43   11.636145
43    mvar44    2.195039
44    mvar45    1.697708
45    mvar46    3.264670
46    mvar48    1.201884
47    mvar49  894.579961
48    mvar50   93.354091
49    mvar51  974.983667
50  mvar47_L    1.341437

In [ ]:
from sklearn.feature_selection import mutual_info_classif

mutual_info = mutual_info_classif(ref_df,Y_default_ind.iloc[nonnull_index])
keys = mutual_info
values = ref_df.columns

mutualinfo_col = list(zip(keys,values))
mutualinfo_col.sort(reverse = True)
mutualinfo_col

[(0.09741670799160174, 'mvar8'),
 (0.07227978661915757, 'mvar13'),
 (0.06623178499089799, 'mvar21'),
 (0.06000273374734322, 'mvar1'),
 (0.05536691170837882, 'mvar40'),
 (0.05498902695316743, 'mvar15'),
 (0.0427509376951094, 'mvar9'),
 (0.04152433949668377, 'mvar28'),
 (0.04094389717705904, 'mvar12'),
 (0.04011237041992488, 'mvar6'),
 (0.036644521340275515, 'mvar23'),
 (0.03647286486252321, 'mvar10'),
 (0.03426755371513446, 'mvar3'),
 (0.03381332756170119, 'mvar34'),
 (0.033046020001815446, 'mvar24'),
 (0.031037806665054513, 'mvar41'),
 (0.02553746736759388, 'mvar43'),
 (0.024911997751314807, 'mvar37'),
 (0.023400134103281678, 'mvar35'),
 (0.02292883391286904, 'mvar47_L'),
 (0.022583290610909135, 'mvar14'),
 (0.021566356810115206, 'mvar48'),
 (0.020645783139507934, 'mvar46'),
 (0.02043825073482397, 'mvar5'),
 (0.01856785910691716, 'mvar4'),
 (0.01829988380195502, 'mvar22'),
 (0.017436747722046952, 'mvar36'),
 (0.01628732571638203, 'mvar42'),
 (0.01613158186298036, 'mvar18'),
 (0.015556452437649693, 'mvar39'),
 (0.01287944411935249, 'mvar30'),
 (0.011002546014065029, 'mvar16'),
 (0.00930051879749616, 'mvar44'),
 (0.008567857860890538, 'mvar50'),
 (0.006323820466584307, 'mvar17'),
 (0.005022178302777736, 'mvar25'),
 (0.0, 'mvar7'),
 (0.0, 'mvar51'),
 (0.0, 'mvar49'),
 (0.0, 'mvar45'),
 (0.0, 'mvar38'),
 (0.0, 'mvar33'),
 (0.0, 'mvar32'),
 (0.0, 'mvar31'),
 (0.0, 'mvar29'),
 (0.0, 'mvar27'),
 (0.0, 'mvar26'),
 (0.0, 'mvar20'),
 (0.0, 'mvar2'),
 (0.0, 'mvar19'),
 (0.0, 'mvar11')]

In [ ]:
from sklearn.feature_selection import chi2
f_p_values=chi2(Chi_x_ref,Y_default_ind.iloc[nonnull_index])
keys = (f_p_values[1])
values = Chi_x_ref.columns

pvalue_col = list(zip(keys,values))
pvalue_col.sort(reverse = False)


keys = (f_p_values[0])
values = Chi_x_ref.columns

fvalue_col = list(zip(keys,values))
fvalue_col.sort(reverse = True)

print(pvalue_col)
print(fvalue_col)

[(0.10225602356558683, 'mvar50'), (0.16727538153716168, 'mvar35'), (0.20086307757525007, 'mvar16'), (0.20235919505534447, 'mvar47_L'), (0.3280396576124687, 'mvar28'), (0.37974180116843315, 'mvar18'), (0.39881432390169147, 'mvar17'), (0.40925798653478807, 'mvar39'), (0.42293517660344104, 'mvar46'), (0.465979352579201, 'mvar37'), (0.5115576189620061, 'mvar1'), (0.5292825947505648, 'mvar22'), (0.5548190432299438, 'mvar4'), (0.5737160861200912, 'mvar29'), (0.5760476221788853, 'mvar20'), (0.5790347897727732, 'mvar9'), (0.5884418628728115, 'mvar32'), (0.594420664763746, 'mvar19'), (0.6035936493614151, 'mvar34'), (0.6327581562060821, 'mvar30'), (0.6444584563491438, 'mvar27'), (0.6555084401239809, 'mvar48'), (0.6572288754355253, 'mvar42'), (0.6699350067952079, 'mvar8'), (0.6759112710465954, 'mvar6'), (0.686503727261567, 'mvar45'), (0.694730864544546, 'mvar23'), (0.6963970453067854, 'mvar26'), (0.7145201806843506, 'mvar21'), (0.7226164395517591, 'mvar25'), (0.7579132661979607, 'mvar12'), (0.7955002769926152, 'mvar41'), (0.8156264534913198, 'mvar2'), (0.8349437931480292, 'mvar36'), (0.8580364608821136, 'mvar11'), (0.8594129235704006, 'mvar10'), (0.8750274689238575, 'mvar3'), (0.8754873193780014, 'mvar40'), (0.8768293750825078, 'mvar38'), (0.8771654737436748, 'mvar33'), (0.9025031270525249, 'mvar13'), (0.9072586734383624, 'mvar15'), (0.9269395781427626, 'mvar24'), (0.9336487725695863, 'mvar31'), (0.9386287683740133, 'mvar43'), (0.938655189850548, 'mvar51'), (0.9414611406396081, 'mvar7'), (0.9536023378212076, 'mvar44'), (0.9641160402010767, 'mvar5'), (0.9878175807651453, 'mvar14'), (0.9942046464062736, 'mvar49')]
[(2.6700000000000004, 'mvar50'), (1.9071931514178713, 'mvar35'), (1.6360878447395293, 'mvar16'), (1.6252651685393267, 'mvar47_L'), (0.9566211092455974, 'mvar28'), (0.7715376072117645, 'mvar18'), (0.7118983538019334, 'mvar17'), (0.6809552345282688, 'mvar39'), (0.6421448635634024, 'mvar46'), (0.5314941780893763, 'mvar37'), (0.43087967824634377, 'mvar1'), (0.3957687237732671, 'mvar22'), (0.3487544688398483, 'mvar4'), (0.3165042320209488, 'mvar29'), (0.3126679473933435, 'mvar20'), (0.3077976505590943, 'mvar9'), (0.29278417822033764, 'mvar32'), (0.2834933111257224, 'mvar19'), (0.26960978885192033, 'mvar34'), (0.22833903098128866, 'mvar30'), (0.21295840008341668, 'mvar27'), (0.1990256811405054, 'mvar48'), (0.19690727024109297, 'mvar42'), (0.18167815834491294, 'mvar8'), (0.17476499018116112, 'mvar6'), (0.16289642645940688, 'mvar45'), (0.15401156671132954, 'mvar23'), (0.1522471915582143, 'mvar26'), (0.13380389431165438, 'mvar21'), (0.1259995565097943, 'mvar25'), (0.09500092042326017, 'mvar12'), (0.06717164189125399, 'mvar41'), (0.05437001874544433, 'mvar2'), (0.04341607429488643, 'mvar36'), (0.03199598879901398, 'mvar11'), (0.0313720396490758, 'mvar10'), (0.024735686353030823, 'mvar3'), (0.02455249137231651, 'mvar40'), (0.024021831606047678, 'mvar38'), (0.0238898650078486, 'mvar33'), (0.015006224922185464, 'mvar13'), (0.013571548105866561, 'mvar15'), (0.008408155815580772, 'mvar24'), (0.006931396751570232, 'mvar31'), (0.005927988878857492, 'mvar43'), (0.0059228756678096255, 'mvar51'), (0.005392482569836589, 'mvar7'), (0.0033853380398499297, 'mvar44'), (0.002024014253157929, 'mvar5'), (0.00023314210266279635, 'mvar14'), (5.275788686050807e-05, 'mvar49')]

In [176]:
from sklearn.feature_selection import f_classif
f_p_values=f_classif(Chi_x_ref,Y_default_ind.iloc[nonnull_index])
keys = (f_p_values[1])
values = Chi_x_ref.columns

pvaluef_col = list(zip(keys,values))
pvaluef_col.sort(reverse = False)


keys = (f_p_values[0])
values = Chi_x_ref.columns

fvaluef_col = list(zip(keys,values))
fvaluef_col.sort(reverse = True)

print(pvaluef_col)
print(fvaluef_col)

[(2.3472884259304845e-06, 'mvar1'), (5.267939561271364e-06, 'mvar22'), (2.3945031930189163e-05, 'mvar35'), (0.0001522723973915599, 'mvar21'), (0.00023688974422699145, 'mvar16'), (0.000734457847819075, 'mvar18'), (0.0009798305550067006, 'mvar29'), (0.0013481588007501477, 'mvar17'), (0.0018966408764147593, 'mvar37'), (0.00605768091077068, 'mvar32'), (0.006409161872906214, 'mvar6'), (0.006776670503316515, 'mvar23'), (0.006949157891435852, 'mvar9'), (0.00833831815778564, 'mvar8'), (0.009957716567713949, 'mvar39'), (0.01206670146688885, 'mvar10'), (0.0163174042015843, 'mvar25'), (0.02611284547839507, 'mvar13'), (0.0478985855804248, 'mvar12'), (0.04984371233282694, 'mvar20'), (0.054779172142048325, 'mvar27'), (0.059678924190180296, 'mvar46'), (0.06874376234574954, 'mvar19'), (0.06881469344353272, 'mvar42'), (0.07786814636640776, 'mvar34'), (0.09935535739220888, 'mvar50'), (0.10719049777906207, 'mvar30'), (0.1314511457732782, 'mvar26'), (0.1394343023382994, 'mvar47_L'), (0.16690529912043137, 'mvar4'), (0.18385549357785316, 'mvar24'), (0.19923867414698013, 'mvar7'), (0.22042059831851488, 'mvar41'), (0.23103902431252676, 'mvar14'), (0.23302814789814388, 'mvar15'), (0.25929123006556065, 'mvar2'), (0.27055114791896684, 'mvar28'), (0.2752923798722215, 'mvar36'), (0.30916458999018587, 'mvar38'), (0.31994928309611415, 'mvar45'), (0.3615906027210233, 'mvar40'), (0.4190461812809876, 'mvar3'), (0.4657780969041556, 'mvar11'), (0.5983999846431387, 'mvar48'), (0.6256678128041442, 'mvar33'), (0.7392563772610388, 'mvar43'), (0.7535793359235107, 'mvar31'), (0.817335729252717, 'mvar51'), (0.8363116913847134, 'mvar44'), (0.8749601269295099, 'mvar5'), (0.9852588780129743, 'mvar49')]
[(23.21746779387641, 'mvar1'), (21.543517475842034, 'mvar22'), (18.446076556155834, 'mvar35'), (14.734574176062589, 'mvar21'), (13.860996972318343, 'mvar16'), (11.650009985776785, 'mvar18'), (11.093201822243735, 'mvar29'), (10.480070623670155, 'mvar17'), (9.82828310667829, 'mvar37'), (7.646251979591189, 'mvar32'), (7.54182798176535, 'mvar6'), (7.438753348497699, 'mvar23'), (7.392340516603908, 'mvar9'), (7.056802181143459, 'mvar8'), (6.731740189013731, 'mvar39'), (6.381930765247535, 'mvar10'), (5.836947795473854, 'mvar25'), (5.000205503144557, 'mvar13'), (3.9472547070727297, 'mvar12'), (3.8793935909063406, 'mvar20'), (3.7191113423926874, 'mvar27'), (3.574539230831049, 'mvar46'), (3.337795187946751, 'mvar19'), (3.3360776138755304, 'mvar42'), (3.1312190616694635, 'mvar34'), (2.733528341597403, 'mvar50'), (2.6114931820959555, 'mvar30'), (2.288321990710744, 'mvar26'), (2.1963587323179423, 'mvar47_L'), (1.920246791385623, 'mvar4'), (1.774723110100673, 'mvar24'), (1.6555753084636124, 'mvar7'), (1.5081970579036394, 'mvar41'), (1.440556796823183, 'mvar14'), (1.4283034024947008, 'mvar15'), (1.277590540739117, 'mvar2'), (1.2186464482748225, 'mvar28'), (1.1947387757791292, 'mvar36'), (1.0379163842921422, 'mvar38'), (0.9925905491063486, 'mvar45'), (0.835024781243074, 'mvar40'), (0.6548730399302101, 'mvar3'), (0.5333965753281806, 'mvar11'), (0.2780341202631003, 'mvar48'), (0.23849545241282594, 'mvar33'), (0.11099592456605785, 'mvar43'), (0.09873661387325149, 'mvar31'), (0.05344655262571953, 'mvar51'), (0.042766772732330205, 'mvar44'), (0.024806822190179597, 'mvar5'), (0.0003419693972075366, 'mvar49')]

In [ ]:
imp_col = ['mvar1', 'mvar2', 'mvar9', 'mvar10', 'mvar11', 'mvar12',
       'mvar13', 'mvar14', 'mvar15', 'mvar16', 'mvar21', 'mvar22', 'mvar24',
       'mvar25', 'mvar26', 'mvar28', 'mvar29', 'mvar33', 'mvar34', 'mvar35',
       'mvar36', 'mvar37', 'mvar38', 'mvar39', 'mvar42', 'mvar43', 'mvar44',
       'mvar45', 'mvar46', 'mvar48', 'mvar49', 'mvar50', 'mvar47_L', 'mvar345',
       'mvar786', 'mvar1719']

X_rawtrain_add = X_raw_add[imp_col]

In [ ]:
train_col = ['mvar1', 'mvar2', 'mvar3', 'mvar4', 'mvar5', 'mvar6', 'mvar7', 'mvar8',
                            'mvar9', 'mvar10', 'mvar11', 'mvar12', 'mvar13', 'mvar14', 'mvar15',
                            'mvar16', 'mvar17', 'mvar18', 'mvar19', 'mvar20', 'mvar21', 'mvar22',
                            'mvar24', 'mvar25', 'mvar26', 'mvar28', 'mvar29',
                            'mvar32', 'mvar33', 'mvar34', 'mvar35', 'mvar36',
                            'mvar37', 'mvar38', 'mvar39',  'mvar42', 'mvar43',
                            'mvar44', 'mvar45', 'mvar46', 'mvar48', 'mvar49', 'mvar50',
                            'mvar47_L']

In [ ]:
import xgboost as xg    #replace the missing values in training data using XGboost regressor
xgb_r = xg.XGBRegressor(objective ='reg:squarederror', n_estimators = 100, seed = 123, eta = 0.15)

In [ ]:
impute_null = X_raw_train.copy(deep = True)
impute_null['default_ind'] = Y_default_ind
impute_knn_null = impute_null[train_col]

In [ ]:
count = 0
for col in train_col:
  count+=1
  print(count)
  Yt = impute_knn_null[col]
  Xt = impute_knn_null.drop(columns =col, axis = 1)
  Y_train = Yt.dropna()
  X_train = Xt.iloc[Yt.dropna().index]
  missing_index =  impute_knn_null[impute_knn_null[col].isna() == True].index 
  X_test  = Xt.iloc[missing_index]
  xgb_r.fit(X_train,Y_train)
  pred = xgb_r.predict(X_test)
  impute_knn_null[col].iloc[missing_index] = pred

1

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44

In [ ]:
pip install catboost

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting catboost
  Downloading catboost-1.1.1-cp38-none-manylinux1_x86_64.whl (76.6 MB)
     |████████████████████████████████| 76.6 MB 1.3 MB/s
Requirement already satisfied: plotly in /usr/local/lib/python3.8/dist-packages (from catboost) (5.5.0)
Requirement already satisfied: graphviz in /usr/local/lib/python3.8/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.8/dist-packages (from catboost) (1.3.5)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.8/dist-packages (from catboost) (1.21.6)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from catboost) (1.7.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->catboost) (2022.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from plotly->catboost) (8.1.0)
Installing collected packages: catboost
Successfully installed catboost-1.1.1

In [ ]:
from catboost import CatBoostClassifier

In [ ]:
import xgboost
xgb = xgboost.XGBClassifier(n_estimators = 2000,scale_pos_weight=2.48,eta = 0.2)
xgb1 = xgboost.XGBClassifier(n_estimators = 2000,scale_pos_weight=2.46, eta = 0.2)
xgb2 = xgboost.XGBClassifier(n_estimators = 2000,scale_pos_weight=2.46, eta = 0.2)
model = CatBoostClassifier(iterations=1000,learning_rate = 0.1, scale_pos_weight = 2.48, verbose = False)
model_raw = CatBoostClassifier(iterations=1000,learning_rate = 0.05, scale_pos_weight = 2.46, verbose = False)
model_raw_imp_col = CatBoostClassifier(iterations=1000,learning_rate = 0.05, scale_pos_weight = 2.46, verbose = False)
cw= {0: 0.287,
     1: 0.713}
import lightgbm as lgb
from lightgbm import LGBMClassifier
lgb = LGBMClassifier(class_weight = cw)
lgb1 = LGBMClassifier(class_weight = cw)
lgb2 = LGBMClassifier(class_weight = cw)

In [ ]:
X = impute_knn_null.copy(deep = True)

In [ ]:
X['mvar345'] = X['mvar3']+X['mvar4']+X['mvar5']
X['mvar786'] = X['mvar7']+X['mvar8']-X['mvar6']
X['mvar1719'] = X['mvar17']+X['mvar19']

In [ ]:
X.drop(columns = ['mvar3','mvar4','mvar5','mvar7','mvar8','mvar6','mvar17','mvar19'],axis = 1,  inplace = True)

In [ ]:
X.drop(columns = ['mvar18', 'mvar20', 'mvar32'],axis = 1,  inplace = True)

In [ ]:
from sklearn.metrics import f1_score

In [ ]:
#ensemble of 9 models
import statistics
from statistics import mode
indices  = np.random.choice(np.arange(83000),66400,replace = False)
test_ind = np.array(list(set(np.arange(83000)).difference(set(indices))))
X_train_1 = X.iloc[indices]
X_train_2 = X_raw_train.iloc[indices]
X_train_3 = X_rawtrain_add.iloc[indices]
Y_train   = Y_default_ind.iloc[indices]
X_test_1 = X.iloc[test_ind]
X_test_2 = X_raw_train.iloc[test_ind]
X_test_3 = X_rawtrain_add.iloc[test_ind]
Y_test  = Y_default_ind.iloc[test_ind]
model.fit(X_train_1,Y_train)#give knn imputed test data
model_raw.fit(X_train_2,Y_train)# give raw testing data
model_raw_imp_col.fit(X_train_3,Y_train)# give raw testing but only imp col
xgb.fit(X_train_1,Y_train)
xgb1.fit(X_train_2,Y_train)
xgb2.fit(X_train_3,Y_train)
lgb.fit(X_train_1,Y_train)
lgb1.fit(X_train_2,Y_train)
lgb2.fit(X_train_3,Y_train)
y_pred1 = model.predict(X_test_1)
y_pred2 = model_raw.predict(X_test_2)
y_pred3 = model_raw_imp_col.predict(X_test_3)
y_pred4 = xgb.predict(X_test_1)
y_pred5 = xgb1.predict(X_test_2)
y_pred6 = xgb2.predict(X_test_3)
y_pred7 = lgb.predict(X_test_1)
y_pred8 = lgb1.predict(X_test_2)
y_pred9 = lgb2.predict(X_test_3)
y_pred_com = np.array([y_pred1,
              y_pred2,
              y_pred3,
              y_pred4,
              y_pred5,
              y_pred6,
              y_pred7,
              y_pred8,
              y_pred9])
y_pred_ensemble = np.array([mode(y_pred_com[:,i]) for i in range(len(Y_test))])
f1_score(Y_test,y_pred_ensemble)

0.5980843617609137

In [ ]:
test = pd.get_dummies(test,columns = ['mvar47'],drop_first = True)
for i in test.columns:
  test[i] = pd.to_numeric(test[i], errors='coerce')

In [ ]:
test =  pd.DataFrame(sc.transform(test), columns = test.columns)

In [ ]:
test.drop(columns = ['application_key'] ,axis = 1, inplace = True)

In [ ]:
test['mvar345'] = test['mvar3']+test['mvar4']+test['mvar5']
test['mvar786'] = test['mvar7']+test['mvar8']-test['mvar6']
test['mvar1719'] = test['mvar17']+test['mvar19']

In [ ]:
test = test[imp_col]

In [ ]:
impute_knn_null['mvar345'] = impute_knn_null['mvar3']+impute_knn_null['mvar4']+impute_knn_null['mvar5']
impute_knn_null['mvar786'] = impute_knn_null['mvar7']+impute_knn_null['mvar8']-impute_knn_null['mvar6']
impute_knn_null['mvar1719'] = impute_knn_null['mvar17']+impute_knn_null['mvar19']
knn_train = impute_knn_null.drop(columns = ['mvar3','mvar4','mvar5','mvar7','mvar8','mvar6','mvar17','mvar19','mvar18', 'mvar20', 'mvar32'],axis = 1)

<ipython-input-154-3b8c72ffc4a4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  impute_knn_null['mvar345'] = impute_knn_null['mvar3']+impute_knn_null['mvar4']+impute_knn_null['mvar5']
<ipython-input-154-3b8c72ffc4a4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  impute_knn_null['mvar786'] = impute_knn_null['mvar7']+impute_knn_null['mvar8']-impute_knn_null['mvar6']
<ipython-input-154-3b8c72ffc4a4>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  impute_knn_null['mvar1719'] = impute_knn_null['mvar17']+impute_knn_null['mvar19']

In [ ]:
d_test = test.copy(deep = True)
l = [d_test,knn_train]
knn_data = pd.concat(l)
from sklearn.impute import KNNImputer   #test data also has null values
imputer = KNNImputer(n_neighbors=10)    #combine the test data and train data, and replace null values in train data using KNN imputer
imputed_sklearn_knn_data = imputer.fit_transform(knn_data)

In [ ]:
imputed_sklearn_knn_data = pd.DataFrame(imputed_sklearn_knn_data, columns =imp_col )
imputed_sklearn_knn_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130000 entries, 0 to 129999
Data columns (total 36 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   mvar1     130000 non-null  float64
 1   mvar2     130000 non-null  float64
 2   mvar9     130000 non-null  float64
 3   mvar10    130000 non-null  float64
 4   mvar11    130000 non-null  float64
 5   mvar12    130000 non-null  float64
 6   mvar13    130000 non-null  float64
 7   mvar14    130000 non-null  float64
 8   mvar15    130000 non-null  float64
 9   mvar16    130000 non-null  float64
 10  mvar21    130000 non-null  float64
 11  mvar22    130000 non-null  float64
 12  mvar24    130000 non-null  float64
 13  mvar25    130000 non-null  float64
 14  mvar26    130000 non-null  float64
 15  mvar28    130000 non-null  float64
 16  mvar29    130000 non-null  float64
 17  mvar33    130000 non-null  float64
 18  mvar34    130000 non-null  float64
 19  mvar35    130000 non-null  float64
 20  mvar36    130000 non-null  float64
 21  mvar37    130000 non-null  float64
 22  mvar38    130000 non-null  float64
 23  mvar39    130000 non-null  float64
 24  mvar42    130000 non-null  float64
 25  mvar43    130000 non-null  float64
 26  mvar44    130000 non-null  float64
 27  mvar45    130000 non-null  float64
 28  mvar46    130000 non-null  float64
 29  mvar48    130000 non-null  float64
 30  mvar49    130000 non-null  float64
 31  mvar50    130000 non-null  float64
 32  mvar47_L  130000 non-null  float64
 33  mvar345   130000 non-null  float64
 34  mvar786   130000 non-null  float64
 35  mvar1719  130000 non-null  float64
dtypes: float64(36)
memory usage: 35.7 MB

In [ ]:
testing = imputed_sklearn_knn_data[:47000]

In [ ]:
testing.head()

,mvar1,mvar2,mvar9,mvar10,mvar11,mvar12,mvar13,mvar14,mvar15,mvar16,...,mvar44,mvar45,mvar46,mvar48,mvar49,mvar50,mvar47_L,mvar345,mvar786,mvar1719
0,-0.300664,-0.280994,-0.459844,-0.452141,-0.260553,-0.602775,-0.296231,-0.018840,-0.693628,-0.363228,...,0.861174,-0.242866,-0.283197,2.430992,-0.319352,-0.63166,-0.771255,-0.168887,-0.646244,-0.911383
1,0.500774,-0.545854,0.917423,-0.183288,-0.241717,-0.305790,-0.287533,0.001173,0.557769,-0.363228,...,0.972026,-0.242866,-0.283197,-0.486041,-0.319352,-0.63166,-0.771255,-0.946329,0.091190,-0.911383
2,-0.058124,-0.351144,-0.648111,-0.438873,-0.200704,-0.343076,-0.268453,-0.008967,0.723565,-0.363228,...,1.073322,-0.242866,-0.283197,-0.492365,-1.357839,-0.63166,-0.771255,-0.946329,0.151285,-0.911383
3,-0.659203,-0.510908,-0.646939,-0.406098,-0.078525,-0.605374,-0.296049,-0.009501,0.280309,-0.196042,...,1.193120,0.997141,-0.283197,-0.473393,-0.499356,-0.63166,-0.771255,1.344524,-0.982734,-0.706118
4,-0.859562,0.136820,-0.662261,-0.448166,-0.252388,-0.599820,-0.295436,-0.019774,-0.199415,-0.363228,...,1.177545,0.270258,-0.283197,-0.421900,-1.253990,-0.63166,1.296587,-0.946329,-0.693640,-0.911383

In [ ]:
raw_test = pd.read_csv('testX.csv')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (19) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
raw_test = pd.get_dummies(raw_test,columns = ['mvar47'],drop_first = True)
for i in raw_test.columns:
  raw_test[i] = pd.to_numeric(raw_test[i], errors='coerce')
raw_test =  pd.DataFrame(sc.transform(raw_test), columns = raw_test.columns)

In [ ]:
raw_test.drop(columns = ['application_key'],axis =1 , inplace = True)

In [ ]:
test_raw_add = raw_test.copy(deep = True)
test_raw_add['mvar345'] = test_raw_add['mvar3']+test_raw_add['mvar4']+test_raw_add['mvar5']
test_raw_add['mvar786'] = test_raw_add['mvar7']+test_raw_add['mvar8']-test_raw_add['mvar6']
test_raw_add['mvar1719'] = test_raw_add['mvar17']+test_raw_add['mvar19']
test_raw_add = test_raw_add[imp_col]

In [ ]:
Y_pred1 = model.predict(testing)
Y_pred2 = model_raw.predict(raw_test)
Y_pred3 = model_raw_imp_col.predict(test_raw_add)
Y_pred4 = xgb.predict(testing)
Y_pred5 = xgb1.predict(raw_test)
Y_pred6 = xgb2.predict(test_raw_add)
Y_pred7 = lgb.predict(testing)
Y_pred8 = lgb1.predict(raw_test)
Y_pred9 = lgb2.predict(test_raw_add)
Y_pred_com = np.array([Y_pred1,
              Y_pred2,
              Y_pred3,
              Y_pred4,
              Y_pred5,
              Y_pred6,
              Y_pred7,
              Y_pred8,
              Y_pred9])
Y_pred_ensemble = np.array([mode(Y_pred_com[:,i]) for i in range(47000)])

In [ ]:
df = pd.read_csv("testX.csv")

In [ ]:
predictions = pd.DataFrame([])
predictions['application_key'] = df['application_key']
predictions['default_ind'] = Y_pred_ensemble
predictions.to_csv('DataScience_Novices.csv', index = False,header = False)

In [ ]:
#ensemble of six models
import statistics
from statistics import mode
indices  = np.random.choice(np.arange(83000),66400,replace = False)
test_ind = np.array(list(set(np.arange(83000)).difference(set(indices))))
#X_train_1 = X.iloc[indices]
X_train_2 = X_raw_train.iloc[indices]
X_train_3 = X_rawtrain_add.iloc[indices]
Y_train   = Y_default_ind.iloc[indices]
#X_test_1 = X.iloc[test_ind]
X_test_2 = X_raw_train.iloc[test_ind]
X_test_3 = X_rawtrain_add.iloc[test_ind]
Y_test  = Y_default_ind.iloc[test_ind]
#model.fit(X_train_1,Y_train)#give knn imputed test data
model_raw.fit(X_train_2,Y_train)# give raw testing data
model_raw_imp_col.fit(X_train_3,Y_train)# give raw testing but only imp col
#xgb.fit(X_train_1,Y_train)
xgb1.fit(X_train_2,Y_train)
xgb2.fit(X_train_3,Y_train)
#lgb.fit(X_train_1,Y_train)
lgb1.fit(X_train_2,Y_train)
lgb2.fit(X_train_3,Y_train)
#y_pred1 = model.predict(X_test_1)
y_pred2 = model_raw.predict(X_test_2)
y_pred3 = model_raw_imp_col.predict(X_test_3)
#y_pred4 = xgb.predict(X_test_1)
y_pred5 = xgb1.predict(X_test_2)
y_pred6 = xgb2.predict(X_test_3)
#y_pred7 = lgb.predict(X_test_1)
y_pred8 = lgb1.predict(X_test_2)
y_pred9 = lgb2.predict(X_test_3)
y_pred_com = np.array([
              y_pred2,
              y_pred3,
              y_pred5,
              y_pred6,
              y_pred8,
              y_pred9])
y_pred_ensemble = np.array([mode(y_pred_com[:,i]) for i in range(len(Y_test))])
f1_score(Y_test,y_pred_ensemble)

0.5996156310057655

In [ ]:
#predictions based on 6 models
Y_pred2 = model_raw.predict(raw_test)
Y_pred3 = model_raw_imp_col.predict(test_raw_add)
Y_pred5 = xgb1.predict(raw_test)
Y_pred6 = xgb2.predict(test_raw_add)
Y_pred8 = lgb1.predict(raw_test)
Y_pred9 = lgb2.predict(test_raw_add)
Y_pred_com = np.array([
              Y_pred2,
              Y_pred3,
              Y_pred5,
              Y_pred6,
              Y_pred8,
              Y_pred9])
Y_pred_ensemble_6 = np.array([mode(Y_pred_com[:,i]) for i in range(47000)])

In [ ]:
predictions = pd.DataFrame([])
predictions['application_key'] = df['application_key']
predictions['default_ind'] = Y_pred_ensemble_6
predictions.to_csv('DataScience_Novices_6models.csv', index = False,header = False)